@media (max-width: 568px){
   
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 100vh;
        overflow-y: scroll;
        margin: 0;
        padding: 0 15px;
    }

    .items{
        align-self: center;
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
    }

    .information{
        align-self: center;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 45rem;
        left: -2.5rem;
    }

    .checkout-title{
       position: absolute;
       top:-104%;
    }
  

    /* inputs resize */
    .information-inputs{
        width: 200px;
    }
}