@media (max-width: 568px){
    .container{
        flex-direction: column-reverse;
        align-items: center;
        overflow-y: scroll;
    }

    .information{
        width: 100%;
    }

    .items{
        width: 100%;
    }

    /* end of default style */
    
}

@media (max-width: 375px){
    .container{
        align-items: flex-start;
    }
    .checkout-title{
        margin: 0.5rem;        
    }
    .order-items{
        width: 350px;
        height: 489px;
    }

    .information-input{
        width: 349px;
        height: 40px;
    }

    .country-input,
    .postal-input{
        width: 162px;
    }

    .btn{
        margin: 0;
    }

    .items-wrapper{
        padding: 0;
    }
}