:root{
    --def-font: 'Montserrat', sans-serif;
    --logo-color: #4E5150;
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4: #4E5150;
    --gray-5: #E0E0E0;
    --gray-6: #BDBDBD;
    --gray-7: #828282;
    --gray-8: #F2F2F2;
    --btn-color: #F2994A;
}

*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--def-font);
}

.container{
    display: flex;
    width: 100%;
    gap: 24px;
    padding: 0 15px;
    height: 100vh;
}

.information{
    width: 60%;

    height: 100%;

}

.items{
    width: 40%;

    height: 100%;
}

/* chekout title */
.checkout-title{
    margin-left: 11rem;
}
/* default styles */

label{
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray-2);
}

.information-input{
    max-width: 465px;
    height: 46px;
    border: 1px solid var(--gray-4);
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
}

i{
    color: var(--gray-3);
}

input{
    width: 80%;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    color:var(--gray-3);
}

/* information */

.information-wrapper{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* shipping information */
.shipping-information{
    margin-top: 2rem;
}

/* occupation d-flex */

.occupation{
    display: flex;
    gap: 5px;
}

.country-input{
    width: 200px;
}

select{
    width: 100%;
    background-color: inherit;
    border: none;
}
.postal-input{
    width: 200px;
}


/* btn */
.btn{
    width: 166px;
    height: 44px;
    background-color: var(--btn-color);
    color: #fff;
    border: none;
    border-radius: 12px;
    margin-left: 15rem;
    margin-top: 0.5rem;
}

/* items section  */

.items-wrapper{
    padding: 0 15px;
}

.img-wrapper{
    width: 150px;
    height: 150px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.item{
    display: flex;
    /* justify-content: space-around; */
    gap: 25px;
}

.order-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding:  15px;

    width: 383px;
    height: 535px;
    border: none;
    border-radius: 12px;
    background-color: var(--gray-8);
}

.about-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-title{
    font-weight: 600;
    font-size: 16px;
    color: var(--gray-4);
}

.new-price{
    color: var(--btn-color);
}

.older-price{
    text-decoration: line-through;
    font-size: 12px;
}

.quantity{
    width: 134px;
    height: 52px;
    border: 1px solid var(--gray-3);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mines,
.plus{
    display: block;
    width: 21px;
    height: 21px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: var(--gray-5);
    color: var(--gray-3);
    cursor: pointer;
}

.shipped,
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}